.page-head.jump-pad {
    margin-bottom: 50px;
}

.page-header {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.module {
    //margin-top: 50px;
}

.img-bg {
    background-color: #000;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff;
    height: 100%;
}

.img-bg-left {
    position: absolute;
    &:extend(.img-bg);
    left: 0%;
}

.img-bg-right {
    position: absolute;
    &:extend(.img-bg);
    left: 50%;
}

.relative {
    position: relative;
}

.jump-nav {
    margin-bottom: 0;
}

.jump-nav.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.pad {
    padding-left: @grid-gutter-width/2;
    padding-right: @grid-gutter-width/2;
}

.isotope .item img{
	width: 100%;
}
.isotope .item {
    padding: 0;
    width: 25%;
    .transition(opacity 2.0s ease);
    .opacity(0);
}

.isotope .item.loaded{
	.opacity(1);
}
