<div class="form-group">
<div class="col-sm-6">
	[text* your-name placeholder "Name"]	
</div>
<div class="col-sm-6">
	[email* your-email placeholder "Email"]
</div>
<div class="col-sm-6">
	[text Phone placeholder "Phone"]
</div>
<div class="col-sm-6">
	[date* Date placeholder "Event Date"]
</div>
<div class="col-sm-6">
	[text Venue placeholder "Venue"]
</div>
<div class="col-sm-6">
	[text Source placeholder "How did you hear about us?"]	
</div>

<div class="col-sm-12">
	[textarea your-message placeholder "Message"]	
</div>

<div class="col-sm-12">
	[submit "Send"]
</div>
</div>
  
 





